@import "../../../styles/variables";
@import "../../../styles/placeholders";
@import "../../../styles/bourbon";

:local {
    $sidePadding: 40px;

    .frame {
        position: relative;

        min-height: 200px;
        padding: 0 $sidePadding 10px;

        background-color: $bgWhiteColor;
        box-shadow: $shadowBlock;
    }

    .header {
        @extend %as-clearfix;

        position: relative;

        height: 20px;
        margin: 0 (-$sidePadding);
        padding: 15px 30px 10px 15px;

        overflow: hidden;

        border-bottom: 1px solid $borderDarkColor;

        font-size: 20px;
        white-space: nowrap;
    }

    .back {
        position: relative;

        float: left;
        max-width: 40px;
        height: 46px;
        margin: -15px 0 -10px -15px;
        padding-top: 15px;
        box-sizing: border-box;

        overflow: hidden;

        transition: all .3s ease-in-out;

        border-right: 1px solid transparent;

        color: $textBaseColor;
        font-size: $fontSizeGreat;

        &:hover {
            max-width: 40%;
            margin-right: 15px;
            padding-right: 15px;

            border-right-color: $borderDarkColor;

            color: $textBaseColor;
        }
    }

    .icon {
        @include position(absolute, 14px null null 13px);
    }

    .back-text {
        margin-left: $sidePadding;
    }

    .title {
        float: left;
    }

    .content {
        padding: 20px 0;
    }
}
