@import "../../scss_settings/variables";
@import "../../scss_settings/placeholders";
@import "./AnimationHighlighter";

:local {
    .wrapper {
        position: relative;
        box-sizing: border-box;
    }

    input[type="text"].input,
    .input {
        display: block;
        width: 100%;
        padding: 5px 3px 3px;
        transition: border-color, box-shadow 0.2s ease-in-out;
        color: $textBaseColor;
        font-size: $fontSizeBig;
        border: none;
        border-bottom: 1px solid #e4e4e4;
        box-sizing: border-box;

        &:focus  {
            display: block;
            border: none;
            border-bottom: 1px solid $borderFocusColor;
            outline: 0;
            box-shadow: 0 1px $shadowFocusColor;

            & ~ .label {
                top: -12px;
                font-size: $fontSizeRegular;
            }

            & ~ .highlight {
                :global {
                    animation: inputHighlighter 0.3s ease;
                }
            }

            &.error ~ .highlight {
                :global {
                    animation-name: inputErrorHighlighter;
                }
            }
        }
    }

    .label {
        position: absolute;
        top: 9px;
        left: 3px;
        transition: .2s ease all;
        color: #b7b7b7;
        font-size: $fontSizeBig;
        font-weight: normal;
        cursor: text;
        pointer-events: none;
        box-sizing: border-box;

        &.filled {
            top: -12px;
            font-size: $fontSizeRegular;
        }
    }

    .highlight {
        position: absolute;
        top: 25%;
        left: 0;
        width: 100px;
        height: 50%;
        opacity: 0.5;
        pointer-events: none;
        box-sizing: border-box;
    }
}

