@import "../../styles/variables";
@import "../../styles/placeholders";
@import "../../styles/materialdesign";
@import "./AnimationHighlighter";

:local {
    %filled-text {
        top: -12px;

        font-size: $fontSizeRegular;
    }

    %no-filled-text {
        top: 9px;

        font-size: $fontSizeBig;
    }

    .wrapper {
        position: relative;

        box-sizing: border-box;
    }

    input[type="text"].input,
    .input {
        @extend %material-input;

        display: block;
        width: 100%;
        padding: 5px 3px 3px;
        box-sizing: border-box;

        font-size: $fontSizeBig;

        &:focus {
            & ~ .label {
                @extend %filled-text;
            }

            & ~ .highlight {
                :global {
                    animation: inputHighlighter 0.3s ease;
                }
            }

            &.input-validation-error ~ .highlight {
                :global {
                    animation-name: inputErrorHighlighter;
                }
            }
        }

        &[readonly],
        &[readonly]:focus,
        &[disabled],
        &[disabled]:focus {
            & ~ .label {
                @extend %no-filled-text;

                &.filled {
                    @extend %filled-text;
                }
            }

            & ~ .highlight {
                :global {
                    animation: none;
                }
            }
        }

        &.clearable {
            padding-right: 30px;
        }
    }

    .label {
        @extend %no-filled-text;

        position: absolute;
        left: 3px;

        box-sizing: border-box;

        transition: 0.2s ease all;

        color: $textSecondaryColor;
        font-weight: normal;

        cursor: text;
        pointer-events: none;

        &.filled {
            @extend %filled-text;
        }
    }

    .highlight {
        position: absolute;
        top: 25%;
        left: 0;

        width: 100px;
        height: 50%;
        box-sizing: border-box;

        opacity: 0.5;

        pointer-events: none;
    }

    .clear {
        position: absolute;
        z-index: 21;
        top: 50%;
        right: 1px;

        margin-top: -6px;

        color: $textSecondaryColor;
        font-size: $fontSizeBig;

        cursor: pointer;

        &:hover {
            color: $textErrorColor;
        }
    }
}
