@import "../../styles/variables";
@import "../../styles/placeholders";
@import "../../styles/materialdesign";

:local {
    .wrapper {
        @extend %as-inline-block;

        position: relative;

        font-size: $fontSizeBig;
    }

    .input {
        @extend %as-inline-block;
        @extend %material-input;

        z-index: 20;

        height: 30px;
        padding: 4px 3px;
        box-sizing: border-box;

        &.clearable {
            padding-right: 30px;
        }
    }

    .placeholder-wrapper {
        position: absolute;
        top: 0;
        left: 0;

        padding: 0 4px;

        line-height: 30px;

        &.as-hidden {
            display: none;
        }
    }

    .placeholder {
        color: $textSecondaryColor;
    }

    .clear {
        position: absolute;
        z-index: 21;
        top: 50%;
        right: 6px;

        margin-top: -6px;

        color: $textSecondaryColor;
        font-size: $fontSizeBig;

        cursor: pointer;

        &:hover {
            color: $textErrorColor;
        }
    }
}
