@import "../../styles/variables";

:local {
    .wrapper {
        position: absolute;
        min-width: 140px;
        border: 1px solid $borderDarkColor;
        font-size: 14px;
        padding: 10px 10px 10px 20px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(0, 0, 0, 0.15);
        z-index: $popupZIndex;
        background: $borderWhiteColor;

        &:before,
        &:after {
            content: "";

            position: absolute;

            width: 0;
            height: 0;
            border-style: solid;

            border-color: transparent;
        }

        &.right {
            left: 100%;
            top: 14px;
            border-left: 2px solid $borderErrorColor;

            &:before,
            &:after {
                top: 10px;

                border-width: 5px 0;
            }

            &:before {
                left: -8px;

                border-right-width: 6px;
                border-right-color: $borderErrorColor;
            }

            &:after {
                left: -5px;

                border-right-width: 7px;
                border-right-color: $borderWhiteColor;
            }
        }

        &.bottom {
            left: 0;
            top: 98%;
            border-top: 2px solid $borderErrorColor;

            &:before,
            &:after {
                border-width: 0 5px;

                left: 20px;
            }

            &:before {
                top: -8px;

                border-bottom-width: 6px;
                border-bottom-color: $borderErrorColor;
            }

            &:after {
                top: -5px;

                border-bottom-width: 7px;
                border-bottom-color: $borderWhiteColor;
            }
        }
    }

    .info.right {
        border-left: 2px solid $borderFocusColor;

        &:before {
            border-right-color: $borderFocusColor;
        }
    }

    .info.bottom {
        border-top: 2px solid $borderFocusColor;

        &:before {
            border-bottom-color: $borderFocusColor;
        }
    }
}

