{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "jsx": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "commonjs": true,
        "jasmine": true,
        "jquery": true
    },
    "rules": {
        "strict": 0,
        "no-underscore-dangle": 0,
        "linebreak-style": [1, "windows"],
        "quotes": [1, "double"],
        "no-irregular-whitespace": 0,
        "indent": [1, 4, { "VariableDeclarator": {"var": 2, "let": 2, "const": 2}, "SwitchCase": 2 }],
        "padded-blocks": 0,
        "comma-dangle": [2, "never"],

        "react/react-in-jsx-scope": 0,
        "react/prop-types": 1
    },
    "plugins": [
        "react",
        "babel"
    ]
}
