$newSale: #e96a6f;

// theme
$themeMainColor: #8e3b4b;

// text
$textBaseColor: #404040;
$textWhiteColor: #fff;
$textDisabledColor: #b7b7b7;
$textDarkColor: #8c8c8c;
$textInactiveColor: #b7b7b7;
$textSecondaryColor: #b7b7b7;
$textErrorColor: #d92b2b;

// link
$linkBaseColor: #3390d8;
$linkActiveColor: #e04000;
$linkVisitedColor: #691ba8;

// bg
$bgInfoColor: #ffeccd;
$bgErrorColor: #ffbfb6;
$bgBaseColor: #e8e8e8;
$bgLightColor: #f7f7f7;
$bgWhiteColor: #fff;
$bgMenu: $themeMainColor;
$bgActiveActionsColor: #3786b5;

// bg elements
$bgElementActiveColor: #e8e8e8;
$bgElementActiveLightColor: #f5f5f5;

// dropdown backgroundg
$dropdownBgSelectedColor: #f1f1f1;
$dropdownBgFocusedColor: #e4f3ff;

// border
$borderBaseColor: #ededed;
$borderWhiteColor: #fff;
$borderDarkColor: #e8e8e8;
$borderDarkerColor: #dfdfdf;
$borderLightColor: #f5f5f5;
$borderInputColor: #e4e4e4;
$borderErrorColor: #d92b2b;
$borderFocusColor: #008eff;

// other
$errorBaseColor: #d92b2b;

// shadow
$shadowBaseColor: #efefef;
$shadowWhiteColor: #fff;
$shadowElementBaseColor: #cfccc6;
$shadowErrorColor: #d92b2b;
$shadowFocusColor: #008eff;

// focus
$focusFunctioningColor: #4b8d66;
$focusLiquidatingColor: #f5a634;
$focusLiquidatedColor: #cf1d21;
