$fontSizeSmall: 12px;
$fontSizeRegular: 14px;
$fontSizeBig: 16px;
$fontSizeGreat: 18px;
$fontSizeRegularTitle: 22px;
$fontSizeRegularHeader: 24px;
$fontSizeTextDotsActions: 30px;

$lineHeightSmall: 1.2;
$lineHeightRegular: 1.4;
