@import "../../styles/variables";

:local {
    .has-director {
        position: relative;

        padding-left: 30px;
    }

    .director-icon {
        position: absolute;
        top: 12px;
        left: 10px;
    }

    .name {
        overflow: hidden;

        line-height: $lineHeightRegular;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .job {
        overflow: hidden;

        color: $textSecondaryColor;
        line-height: $lineHeightRegular;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
