@import "../../styles/variables";

:local {
    .has-director {
        position: relative;

        padding-left: 30px;
    }

    .director-icon {
        position: absolute;
        top: 17px;
        left: 10px;
    }
}
