@import "../../styles/variables";
@import "../../styles/mixins/buttons";

:local {
    .default {
        $backgroundShadow: darken($bgButtonColor, 15%);

        @include stylized-button-base($bgButtonColor, $textBaseColor);

        &.size-small {
            box-shadow: 0 2px 0 $backgroundShadow;

            &:hover {
                box-shadow: 0 3px 0 $backgroundShadow;
            }
        }
    }

    .important {
        $backgroundShadow: darken($bgImportantButtonColor, 15%);

        @include stylized-button-base($bgImportantButtonColor, $textWhiteColor);

        &.size-small {
            box-shadow: 0 2px 0 $backgroundShadow;

            &:hover {
                box-shadow: 0 3px 0 $backgroundShadow;
            }
        }
    }

    .delete {
        $backgroundShadow: #9e4643;

        @include stylized-button-base($bgDeleteColor, $textWhiteColor, $backgroundShadow);

        &.size-small {
            box-shadow: 0 2px 0 $backgroundShadow;

            &:hover {
                box-shadow: 0 3px 0 $backgroundShadow;
            }
        }
    }

    .button {
        &.size-small {
            padding: 4px 23px;
        }
    }
}
