@import "../../styles/variables";
@import "../../styles/mixins/buttons";

:local {
    .default {
        @include stylized-button-base($bgButtonColor, $textBaseColor);
        $backgroundShadow: darken($bgButtonColor, 15%);

        &.size-small {
            box-shadow: 0 2px 0 $backgroundShadow;

            &:hover {
                box-shadow: 0 3px 0 $backgroundShadow;
            }
        }
    }

    .important {
        @include stylized-button-base($bgImportantButtonColor, $textWhiteColor);
        $backgroundShadow: darken($bgImportantButtonColor, 15%);

        &.size-small {
            box-shadow: 0 2px 0 $backgroundShadow;

            &:hover {
                box-shadow: 0 3px 0 $backgroundShadow;
            }
        }
    }

    .delete {
        $backgroundShadow: #9E4643;
        @include stylized-button-base($bgDeleteColor, $textWhiteColor, $backgroundShadow);

        &.size-small {
            box-shadow: 0 2px 0 $backgroundShadow;

            &:hover {
                box-shadow: 0 3px 0 $backgroundShadow;
            }
        }
    }

    .button {
        .size-small {
            padding: 7px 0;
        }
    }
}
