@import "../../styles/placeholders";
@import "../../styles/variables";

:local {
    .popup {
        position: relative;

        width: 290px;

        border-top: 1px solid $borderLightColor;
        border-radius: 1px;
        background: $bgWhiteColor;
        box-shadow: $shadowActionsPopup;
    }

    .close-link {
        position: absolute;
        z-index: 1;
        top: -3px;
        right: 6px;

        font-size: 30px;

        cursor: pointer;
    }

    .action {
        position: relative;

        display: block;
        padding: 10px 20px;

        color: $textBaseColor;
        font-size: $fontSizeBig;

        cursor: pointer;

        &:hover {
            background: $bgElementActiveLightColor;

            color: $textBaseColor;
        }
    }

    .icon {
        @extend %as-inline-block;

        position: absolute;
        top: 10px;
        left: 20px;

        margin-right: 5px;

        font-size: $fontSizeGreat;
    }

    .description {
        @extend %as-inline-block;

        padding-left: 27px;

        line-height: $lineHeightRegular;
    }
}
