@import "../../styles/variables";
@import "./LightboxAnimations";
@import "../../styles/bourbon";

:local {
    .overlay {
        @include position(fixed, 0 null null 0);
        @include size(100%);

        z-index: 100;

        background-color: rgba($bgWhiteColor, 0.7);

        text-align: center;

        :global {
            animation: lightboxOverlayFadeIn $transitionSmoothOut;
        }

        &:before,
        &:after {
            content: '';

            display: inline-block;
            height: 100%;

            vertical-align: middle;
        }

        &.closing {
            :global {
                animation: lightboxOverlayFadeOut $transitionSmoothOut;
            }
        }
    }
}
