@import "../../styles/variables";
$shadowOffset: 5px;

:local {
    .lightbox {
        position: relative;

        display: inline-block;
        margin-top: 0;
        padding: 20px 30px;

        background-color: $bgWhiteColor;
        box-shadow: $elementBaseShadow;

        text-align: left;

        &.top {
            vertical-align: top;

            :global {
                animation: lightboxSlideInDown $transitionSmoothOut;
            }

            &.closing {
                :global {
                    animation: lightboxSlideOutDown $transitionSmoothOut;
                }
            }
        }

        &.middle {
            vertical-align: middle;

            :global {
                animation: lightboxFadeIn $transitionSmoothOut;
            }

            &.closing {
                :global {
                    animation: lightboxFadeOut $transitionSmoothOut;
                }
            }
        }

        &.bottom {
            vertical-align: bottom;

            :global {
                animation: lightboxSlideInUp $transitionSmoothOut;
            }

            &.closing {
                :global {
                    animation: lightboxSlideOutUp $transitionSmoothOut;
                }
            }
        }
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 0;

        padding: 10px;

        background-color: transparent;

        cursor: pointer;

        &:focus {
            border: none;
            box-shadow: none;
        }
    }
}

@keyframes lightboxSlideInDown {
    from {
        margin-top: -$shadowOffset;

        transform: translateY(-100%);
    }

    to {
        margin-top: 0;

        transform: translateY(0);
    }
}

@keyframes lightboxSlideOutDown {
    from {
        margin-top: -$shadowOffset;

        transform: translateY(0);
    }

    to {
        margin-top: -$shadowOffset;

        transform: translateY(-100%);
    }
}

@keyframes lightboxFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes lightboxFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes lightboxSlideInUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes lightboxSlideOutUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}
