@import "../../styles/variables";
$shadowOffset: 5px;

:local {
    .lightbox {
        position: relative;
        top: 0;

        display: inline-block;
        margin-top: 0;
        padding: 20px 30px;

        background-color: $bgWhiteColor;
        box-shadow: $elementBaseShadow;

        text-align: left;

        :global {
            animation: lightboxSlideIn $transitionSmoothOut;
        }

        &.top {
            vertical-align: top;
        }

        &.middle {
            vertical-align: middle;
        }

        &.bottom {
            vertical-align: bottom;
        }
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 0;

        padding: 10px;

        background-color: transparent;

        cursor: pointer;
    }

    .closing {
        margin-top: -$shadowOffset;

        transition: all $transitionSmoothOut;
        transform: translateY(-100%);
    }
}

@keyframes lightboxSlideIn {
    from {
        margin-top: -$shadowOffset;

        transform: translateY(-100%);
    }

    to {
        margin-top: 0;

        transform: translateY(0);
    }
}
