@import "../../styles/variables";

:local {
    .overlay {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba($bgWhiteColor, 0.7);

        text-align: center;

        :global {
            animation: lightboxOverlayFadeIn $transitionSmoothOut;
        }

        &:before,
        &:after {
            content: '';

            display: inline-block;
            height: 100%;

            vertical-align: middle;
        }

        &.closing {
            :global {
                animation: lightboxOverlayFadeOut $transitionSmoothOut;
            }
        }
    }
}

@keyframes lightboxOverlayFadeIn {
    from {
        background-color: rgba($bgWhiteColor, 0);
    }

    to {
        background-color: rgba($bgWhiteColor, .7);
    }
}

@keyframes lightboxOverlayFadeOut {
    from {
        background-color: rgba($bgWhiteColor, .7);
    }

    to {
        background-color: rgba($bgWhiteColor, 0);
    }
}
