$shadowOffset: 5px;

@keyframes slideInDown {
    from {
        margin-top: -$shadowOffset;

        transform: translateY(-100%);
    }

    to {
        margin-top: 0;

        transform: translateY(0);
    }
}

@keyframes slideOutDown {
    from {
        margin-top: -$shadowOffset;

        transform: translateY(0);
    }

    to {
        margin-top: -$shadowOffset;

        transform: translateY(-100%);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideOutUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes slideInRight {
    from {
        margin-left: -$shadowOffset;

        transform: translateX(-100%);
    }

    to {
        margin-left: 0;

        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    from {
        margin-right: 0;

        transform: translate(0);
    }

    to {
        margin-right: -$shadowOffset;

        transform: translate(100%);
    }
}

@keyframes slideInLeft {
    from {
        margin-right: -$shadowOffset;

        transform: translate(100%);
    }

    to {
        margin-right: 0;

        transform: translate(0);
    }
}

@keyframes slideOutLeft {
    from {
        margin-top: -$shadowOffset;

        transform: translateX(0);
    }

    to {
        margin-top: -$shadowOffset;

        transform: translateX(-100%);
    }
}
