%segoe-font {
    font-family: "Segoe UI", "Helvetica Neue", "Arial", "Tahoma", sans-serif;
    -webkit-font-smoothing: antialiased;
}

%palatino-font {
    font-family: "Palatino Linotype", "Times", serif;
    -webkit-font-smoothing: antialiased;
}
