@import "../../scss_settings/variables";
@import "../../scss_settings/placeholders";
@import "./AnimationFideIn";

:local {
    .tooltip {
        position: absolute;
        background: $bgWhiteColor;
        padding: 10px 20px;
        box-shadow: $elementBaseShadow;
        border-radius: 1px;
        visibility: hidden;
        z-index: $popupZIndex;
        font-size: $fontSizeBig;

        & * {
            line-height: $lineHeightRegular;
        }

        .ie-lt9 & {
            border: 1px solid $borderBaseColor;
        }

        &.as-open {
            visibility: visible;
            animation-duration: 0.3s;
            animation-fill-mode: both;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent;
        }

        &.bottom {
            &.as-open {
                :global {
                    animation-name: fadeInDown;
                }
            }

            &:before,
            &:after {
                border-width: 0 7px;
            }

            &:before {
                top: -8px;
                border-bottom-width: 8px;
                border-bottom-color: #dcdada;
            }

            &:after {
                top: -7px;
                border-bottom-width: 7px;
                border-bottom-color: #fff;
            }
        }

        &.top {
            &.as-open {
                :global {
                    animation-name: fadeInUp;
                }
            }

            &:before,
            &:after {
                border-width: 0 7px;
            }

            &:before {
                bottom: -8px;
                border-top-width: 8px;
                border-top-color: #dcdada;
            }

            &:after {
                bottom: -7px;
                border-top-width: 7px;
                border-top-color: #fff;
            }
        }

        &.left {
            &.as-open {
                :global {
                    animation-name: fadeInRight;
                }
            }

            &:before,
            &:after {
                border-width: 7px 0;
            }

            &:before {
                right: -8px;
                border-left-width: 8px;
                border-left-color: #dcdada;
            }

            &:after {
                right: -7px;
                border-left-width: 7px;
                border-left-color: #fff;
            }
        }

        &.right {
            &.as-open {
                :global {
                    animation-name: fadeInLeft;
                }
            }

            &:before,
            &:after {
                border-width: 7px 0;
            }

            &:before {
                left: -8px;
                border-right-width: 8px;
                border-right-color: #dcdada;
            }

            &:after {
                left: -7px;
                border-right-width: 7px;
                border-right-color: #fff;
            }
        }

        &.arrow-center {
            &:before,
            &:after {
                left: 50%;
                margin-left: -7px;
            }
        }

        &.arrow-middle {
            &:before,
            &:after {
                top: 50%;
                margin-top: -7px;
            }
        }

        &.arrow-left {
            &:before,
            &:after {
                left: 20px;
            }
        }

        &.arrow-right {
            &:before,
            &:after {
                right: 20px;
            }
        }

        &.arrow-top {
            &:before,
            &:after {
                top: 15px;
            }
        }

        &.arrow-bottom {
            &:before,
            &:after {
                bottom: 15px;
            }
        }
    }
}
