@import "../../styles/variables";
@import "../../styles/placeholders";
@import "./AnimationFadeIn";
@import "../../styles/bourbon";
$triangleHeight: 8px;
$triangleWidth: 2 * $triangleHeight;
$borderWidth: 1px;
$validationBorderWidth: 2px;
$validationBorder: $validationBorderWidth solid $borderErrorColor;

:local {
    .tooltip {
        position: absolute;
        z-index: $tooltipZIndex;

        width: 150px;
        padding: 10px 20px;

        visibility: hidden;

        border-radius: 1px;
        background: $bgWhiteColor;
        box-shadow: $elementBaseShadow;

        font-size: $fontSizeBig;

        & * {
            line-height: $lineHeightRegular;
        }

        .ie-lt9 & {
            border: 1px solid $borderBaseColor;
        }

        &.as-open {
            visibility: visible;

            animation-duration: .3s;

            animation-fill-mode: both;
        }

        &:before,
        &:after {
            content: "";

            position: absolute;

            width: 0;
            height: 0;

            border: 0;
            border-style: solid;
            border-color: transparent;
        }

        &.bottom {
            &.as-open {
                :global {
                    animation-name: fadeInDown;
                }
            }

            &:before {
                @include triangle($triangleWidth, #dcdada, up);

                top: -$triangleHeight;
            }

            &:after {
                @include triangle($triangleWidth, $bgWhiteColor, up);

                top: -$triangleHeight + $borderWidth;
            }

            &.validation {
                border-top: $validationBorder;

                &:before {
                    @include triangle($triangleWidth, $borderErrorColor, up);
                }

                &:after {
                    top: -$triangleHeight + $validationBorderWidth + 1;
                }
            }
        }

        &.top {
            &.as-open {
                :global {
                    animation-name: fadeInUp;
                }
            }

            &:before {
                @include triangle($triangleWidth, #dcdada, down);

                bottom: -$triangleHeight;
            }

            &:after {
                @include triangle($triangleWidth, $bgWhiteColor, down);

                bottom: -$triangleHeight + $borderWidth;
            }
        }

        &.left {
            &.as-open {
                :global {
                    animation-name: fadeInRight;
                }
            }

            &:before {
                @include triangle($triangleWidth, #dcdada, right);

                right: -$triangleHeight;
            }

            &:after {
                @include triangle($triangleWidth, $bgWhiteColor, right);

                right: -$triangleHeight + $borderWidth;
            }

            &.validation {
                border-right: $validationBorder;

                &:before {
                    @include triangle($triangleWidth, $borderErrorColor, right);
                }

                &:after {
                    right: -$triangleHeight + $validationBorderWidth + 1;
                }
            }
        }

        &.right {
            &.as-open {
                :global {
                    animation-name: fadeInLeft;
                }
            }

            &:before {
                @include triangle($triangleWidth, #dcdada, left);

                left: -$triangleHeight;
            }

            &:after {
                @include triangle($triangleWidth, $bgWhiteColor, left);

                left: -$triangleHeight + $borderWidth;
            }

            &.validation {
                border-left: $validationBorder;

                &:before {
                    @include triangle($triangleWidth, $borderErrorColor, left);
                }

                &:after {
                    left: -$triangleHeight + $validationBorderWidth + 1;
                }
            }
        }

        &.validation {
            animation-duration: .2s;

            &.as-open {
                :global {
                    animation-name: fadeIn;
                }
            }
        }

        &.arrow-center {
            &:before,
            &:after {
                left: 50%;

                margin-left: - $triangleWidth / 2;
            }
        }

        &.arrow-middle {
            &:before,
            &:after {
                top: 50%;

                margin-top: - $triangleWidth / 2;
            }
        }

        &.arrow-left {
            &:before,
            &:after {
                left: 20px;
            }
        }

        &.arrow-right {
            &:before,
            &:after {
                right: 20px;
            }
        }

        &.arrow-top {
            &:before,
            &:after {
                top: 15px;
            }
        }

        &.arrow-bottom {
            &:before,
            &:after {
                bottom: 15px;
            }
        }
    }
}
