$transitionBaseTime: .2s;
$transitionBaseTimingFunction: ease-in;
$transitionDefault: all $transitionBaseTime $transitionBaseTimingFunction;
$transitionEase: all $transitionBaseTime ease;
$transitionSmoothOut: .4s cubic-bezier(.23, 1, .32, 1);
