$transitionBaseTime: .2s;
$transitionBaseTimingFunction: ease-in;
$transitionDefault: all $transitionBaseTime $transitionBaseTimingFunction;
$transitionEase: all $transitionBaseTime ease;
$transitionSmoothOut: .45s cubic-bezier(0.23, 1, 0.32, 1);
