// width breakpoints
$horizontalResolutionMaggie: 980px;
$horizontalResolutionLisa: 1024px;
$horizontalResolutionBart: 1280px;
$horizontalResolutionMarge: 1366px;
$horizontalResolutionHomer: 1600px;
$horizontalResolutionGrampa: 1800px;
$horizontalResolutionMrBurns: 1920px;

// height breakpoints
$verticalResolutionMaggie: 600px;
$verticalResolutionLisa: 768px;
$verticalResolutionBart: 800px;
$verticalResolutionMarge: 900px;
$verticalResolutionHomer: 1024px;
$verticalResolutionGrampa: 1080px;
$verticalResolutionMrBurns: 1280px;
