@import "../variables";

@mixin baseFade($baseColor: $bgWhiteColor, $hoverColor: $bgBaseColor, $width: 30px, $rightSide: true) {

    position: relative;

    overflow: hidden;

    white-space: nowrap;

    &:before,
    &:after {
        content: "";

        @include position(absolute, 0 0 0 null);

        width: $width;
    }

    &:before {
        background-image: linear-gradient(to right, rgba($baseColor, 0), rgba($baseColor, 1));

        opacity: 1;
    }

    &:after {
        background-image: linear-gradient(to right, rgba($hoverColor, 0), rgba($hoverColor, 1));

        opacity: 0;
    }

    &:hover:before {
        opacity: 0;
    }

    &:hover:after {
        opacity: 1;
    }
}

@mixin position($position: relative, $coordinates: null) {
    @if type-of($position) == list {
        $coordinates: $position;
        $position: relative;
    }

    $offsets: (
        top:    nth($coordinates, 1),
        right:  nth($coordinates, 2),
        bottom: nth($coordinates, 3),
        left:   nth($coordinates, 4),
    );

    position: $position;

    @each $offset, $value in $offsets {
        @if type-of($value) != "null" {
            #{$offset}: $value;
        }
    }
}
