@import "../variables";

@mixin baseFade($baseColor: $bgWhiteColor, $hoverColor: null, $width: 30px, $rightSide: true) {
    @if type-of($hoverColor) != "null" {
        &:after {
            opacity: 0;

            background-image: linear-gradient(to right, rgba($hoverColor, 0), rgba($hoverColor, 1));
        }

        &:hover:before {
            opacity: 0;
        }

        &:hover:after {
            opacity: 1;
        }
    }

    position: relative;

    overflow: hidden;

    white-space: nowrap;

    &:before,
    &:after {
        content: "";

        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;

        width: $width;
    }

    &:before {
        opacity: 1;

        background-image: linear-gradient(to right, rgba($baseColor, 0), rgba($baseColor, 1));
    }
}
