@import "../variables";
@import "../materialdesign/buttons";
@import "../placeholders";

@mixin action-bar {
    .actionsBar {
        margin: 30px -30px -20px;
        padding: 15px 30px;

        background: $bgLightColor;
    }

    .actionSubmit {
        @extend %stylized-button;
        @extend %as-inline-block;
    }

    .actionCancel {
        @extend %as-inline-block;
        @extend %as-link;

        margin: 8px 0 0 10px;
        padding: 2px;

        font-size: 16px;

        &.disabled {
            color: $textInactiveColor;

            cursor: default;
        }
    }
}
