@import "../variables";
@import "../materialdesign/buttons";
@import "../placeholders";

@mixin action-bar {
    .actionsBar {
        margin: 30px -30px -20px;
        padding: 15px 30px;

        background: $bgLightColor;
    }

    .actionSubmit {
        @extend %stylized-button;
        @extend %as-inline-block;

        &:focus {
            box-shadow: 0 0 0 2px #db3052;
        }
    }

    .actionCancel {
        @extend %as-inline-block;
        @extend %as-link;

        margin: 8px 0 0 10px;
        padding: 2px;

        font-size: 16px;

        &:focus {
            border: none;
            outline: 2px solid #DB3052;
            box-shadow: none;

            color: $linkBaseColor;
        }
    }
}
