$productIconSVGSpriteUrl: "/ContentBase/img/ProductIcons/product_icons.svg";
$sizeMultiplier: 1;
$spriteWidth: 76px !default;
$iconArea: 28px !default;

@mixin calculate-size-multiplier($isSmall) {
    @if($isSmall) {
        $sizeMultiplier: 0.8 !global;
    }
}

@mixin handle-product-icons($isSmall) {
    $products: (
        kemb: 0 0,
        diadoc: 0 -1*$iconArea,
        focus: 0 -2*$iconArea,
        normativ: 0 -3*$iconArea,
        evrika: 0 -4*$iconArea,
        elba: 0 -5*$iconArea,
        kopf: 0 -6*$iconArea,
        documentoved: 0 -7*$iconArea,
        expert: 0 -8*$iconArea,
        alkodeclaration: 0 -9*$iconArea,
        alkosverka: 0 -10*$iconArea,
        egais: 0 -11*$iconArea,
        edi: 0 -12*$iconArea,
        zakupki: 0 -13*$iconArea,
        pii: 0 -14*$iconArea,
        retail: 0 -15*$iconArea,
        kep: 0 -16*$iconArea,
        security: 0 -17*$iconArea,
        crypto: 0 -18*$iconArea,
        finguru: 0 -19*$iconArea,
        buhonline: 0 -20*$iconArea,
        school-b: 0 -21*$iconArea,
        school-academy: 0 -22*$iconArea,
        school-et: 0 -23*$iconArea,
        sales: 0 -24*$iconArea,
        billing: 0 -25*$iconArea,
        customs: 0 -26*$iconArea,
        fms: 0 -27*$iconArea,
        sverka: 0 -28*$iconArea,
        otchetru: 0 -29*$iconArea,
        kontur: 0 -30*$iconArea
    ) !global;
}

@mixin product-icons($isSmall: false) {
    @include handle-product-icons($isSmall);
    @include calculate-size-multiplier($isSmall);

    @each $product, $position in $products {
        &.#{$product} {
            width: $iconArea;
            height: $iconArea;
            background: url($productIconSVGSpriteUrl) no-repeat #{$position};
            background-size: $spriteWidth auto;
            transform: scale($sizeMultiplier);
        }
    }
}

@mixin product-icon($product, $isSmall: false) {
    @include handle-product-icons($isSmall);
    @include calculate-size-multiplier($isSmall);

    @if map-has-key($products, $product) {
        &.#{$product} {
            width: $iconArea;
            height: $iconArea;
            background: url($productIconSVGSpriteUrl) no-repeat #{map-get($products, $product)};
            background-size: $spriteWidth auto;
            transform: scale($sizeMultiplier);
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$product}`. "
        + "Please make sure it is defined in `$products` map.";
    }
}
