@import "../../styles/placeholders";
@import "../../styles/variables";
@import "../../styles/bourbon";

:local {
    .root {
        @extend %as-inline-block;
    }

    .menuHolder {
        position: relative;
    }

    .menu {
        @include position(absolute, 1px 0 null -3px);

        position: absolute;
        z-index: $dropdownZIndex;

        padding: 0;

        border: 1px solid $borderBaseColor;
        border-radius: 0;
        background: $bgWhiteColor;
        box-shadow: $shadowActionsPopup;
    }

    .item {
        padding: 10px 3px;

        cursor: pointer;

        &.active {
            background: $bgElementActiveLightColor;
        }
    }

    .option {
        margin-bottom: 5px;

        overflow: hidden;

        text-overflow: ellipsis;
    }

    .highlight {
        background: transparent;

        font-weight: bold;
    }

    .description {
        overflow: hidden;

        color: $textDarkColor;
        font-size: $fontSizeSmall;
        text-overflow: ellipsis;
    }

    .empty {
        padding: 10px 20px;
    }
}
