@import "../variables";

%as-hidden {
    display: none;
}

%as-inline-block {
    display: inline-block;

    vertical-align: top;
}

%as-link {
    background: none;

    color: $linkBaseColor;

    cursor: pointer;

    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;

        color: $linkActiveColor;
    }
}

%as-clearfix {
    &:after,
    &:before {
        content: " ";

        display: table;

        clear: both;
    }
}

%as-word-break {
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;

    overflow-wrap: break-word;
}

%as-text-overflow-ellipsis {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
