%fading-text {
    overflow: hidden;

    &:before {
        content: "";

        position: absolute;
        right: 0;

        width: 30px;
        height: 100%;

        background-image: linear-gradient(to right, rgba(255, 255, 255, .2), rgb(255, 255, 255) 75%);
    }
}
