@import "../../../styles/variables";

:local {
    .frame {
        position: relative;

        min-height: 200px;
        margin: 20px 0;

        background-color: $bgWhiteColor;
        box-shadow: 0 1px 2px $shadowElementBaseColor, 0 1px 5px rgba(0, 0, 0, .15);
    }

    .close {
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 5px;

        width: 21px;
        height: 21px;

        background: transparent url("/ContentBase/img/window/close_small.png") 0 0 no-repeat;

        cursor: pointer;
    }
}
