@import "./../../styles/variables";

:local {
    .root {
        position: relative;

        display: inline-block;

        vertical-align: bottom;
    }

    .open-button {
        position: absolute;
        z-index: 1;
        top: 1px;
        right: 1px;

        padding: 0 9px;

        color: $textBaseColor;
        line-height: 30px;

        cursor: pointer;

        & .disabled {
            color: $textDisabledColor;

            cursor: default;
        }
    }

    .picker {
        position: relative;
        top: -1px;
    }

    .icon {
        font-size: 15px;
    }
}
