@import "./../../styles/variables";
@import "./../../styles/placeholders";
@import "./../../styles/mixins";

:local {
    .wrapper {
        @extend %as-inline-block;

        position: relative;
    }

    .select {
        @extend %as-inline-block;

        width: 100%;
        padding: 5px 3px 0px;
        box-sizing: border-box;

        overflow: hidden;

        border-bottom: 1px solid $borderBaseColor;

        line-height: $lineHeightRegular;

        cursor: pointer;

        &.disabled {
            border-bottom: 1px dashed $borderBaseColor;

            color: $textInactiveColor;

            cursor: default;
        }

        &.inactive {
            color: $textInactiveColor;
        }
    }

    .select-input {
        @extend %as-inline-block;

        float: left;
        width: 90%;
        padding-right: 10px;
    }

    .caption {
        @extend %as-inline-block;

        width: 100%;

        overflow: hidden;

        line-height: $lineHeightRegular;
        white-space: nowrap;
        text-overflow: ellipsis;

        :global(.with-fade) & {
            @include baseFade();

            text-overflow: clip;
        }
    }

    .additional-text {
        @extend %as-inline-block;

        float: right;
        margin: 0 -5px 0 10px;

        color: $textSecondaryColor;
    }

    .icon {
        @extend %as-inline-block;

        float: right;

        color: $textSecondaryColor;
    }

    .options {
        position: absolute;
        z-index: $popupZIndex;
        top: -6px;
        right: -5px;
        left: -13px;

        min-width: 50px;
        max-height: 300px;

        overflow: hidden;
        overflow-y: auto;

        border: 1px solid #cfccc6;
        background: $bgWhiteColor;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .3);
    }
}
