@import "./../../styles/bourbon";
@import "./../../styles/variables";
@import "./../../styles/placeholders";

:local {
    .option {
        position: relative;

        padding: 15px 35px 15px 15px;

        overflow: hidden;

        line-height: $lineHeightRegular;

        cursor: pointer;

        &:after {
            @include position(absolute, 65px null null 0);

            content: "";

            width: 100%;
            height: 15px;

            background: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgb(255, 255, 255) 75%);
        }

        &.as-active {
            background: $bgElementActiveLightColor;

            &:after {
                background: linear-gradient(to bottom, rgba(245, 245, 245, .2), rgb(245, 245, 245) 75%);
            }
        }

        &.as-selected {
            background: $bgButtonColor;

            &:after {
                background: linear-gradient(to bottom, rgba(237, 237, 237, .2), rgb(237, 237, 237) 75%);
            }
        }

        &.disabled {
            color: $textInactiveColor;

            cursor: default;

            &.as-active,
            &.as-selected {
                background: transparent;
            }
        }
    }

    .caption {
        min-width: 20px;
        max-height: 65px;

        overflow: hidden;

        line-height: $lineHeightRegular;
        word-wrap: break-word;
    }

    .additional-text {
        @extend %as-inline-block;

        color: $textSecondaryColor;
    }
}
